@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
p {
  line-height: 32.3px;
}
nav {
  display: flex;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  margin: 0 auto;
}
.logo_large {
  padding: 10px;
}
ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
ul li {
  list-style: none;
  padding: 50px 5px 15px 5px;
  display: inline-block;
  font-size: 14px;
}
ul li:hover {
  color: cornsilk;
  cursor: pointer;
}
.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  display: none;
}
.logo {
  display: flex;
  justify-content: start;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 845px) {
  nav {
    display: block;
  }
  .toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: center;
  }
  .active {
    display: block;
  }
  .logo_large {
    display: none;
  }
}
