/* Empleo page css */

.background-empleo {
  min-height: 95vh;
  background-size: cover !important;
  background-position: 100%;
  position: relative;
  background-repeat: no-repeat !important;
}
.background-empleo:after {
  content: "";
  top: 0;
  left: 0;
  background: #228b22;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}
.empleo-content {
  margin: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.empleo-text {
  word-wrap: break-word;
  width: 56%;
}
.empleo-image {
  margin-bottom: 2rem;
}
.empleo-text h2 {
  font-style: normal;
  font-weight: 300;
  margin-bottom: 1rem;
}
.empleo-text p {
  margin-bottom: 1rem;
}
.oprtunidad {
  width: 140px;
  padding: 0.8rem;
  border-radius: 10px;
  color: white;
  background: #228b22;
  border: none;
}
.oprtunidad:hover {
  background: white;
  color: #228b22;
  border: 2px solid #228b22;
}

/* Casos De Exito css */

.background-casos {
  max-height: 95vh;
  background-size: cover !important;
  background-position: 100%;
  position: relative;
  background-repeat: no-repeat !important;
}
.background-casos:after {
  content: "";
  top: 0;
  left: 0;
  background: rgba(92, 110, 1, 0.93);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}
.casos-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.casos-content-main {
  margin: 5rem 10rem 5rem 10rem;
  display: flex;
  justify-content: space-between;
}
.casos-logo {
  width: 40%;
  margin-bottom: 2rem;
}
.casos-image {
  width: 50%;
  margin: 0 auto;
  align-self: center;
  justify-self: center;
}
.casos-image img {
  width: 100%;
  height: 100%;
}

/* Desarrollo Software */
.background-software {
  max-height: 95vh;
  background-size: cover !important;
  background-position: 100%;
  padding-bottom: 10rem;
  position: relative;
  background-repeat: no-repeat !important;
}
.background-software:after {
  content: "";
  top: 0;
  left: 0;
  background: rgba(35, 45, 68, 0.85);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

/* Bigdata */

.background-bigdata {
  max-height: 95vh;
  background-size: cover !important;
  background-position: 100%;
  padding-bottom: 10rem;
  position: relative;
  background-repeat: no-repeat !important;
}
.background-bigdata:after {
  content: "";
  top: 0;
  left: 0;
  background: rgba(136, 33, 14, 0.93);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}
.data-image {
  width: 220px;
}

/* Robotica */

.background-robotica {
  max-height: 90vh;
  background-size: cover !important;
  background-position: 100%;
  padding-bottom: 10rem;
  position: relative;
  background-repeat: no-repeat !important;
}
.background-robotica:after {
  content: "";
  top: 0;
  left: 0;
  background: rgba(73, 70, 72, 0.93);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}
.robotica-image {
  width: 150px;
}

/* Compania */
.background-compania {
  max-height: 90vh;
  background-size: cover !important;
  background-position: 100%;
  padding-bottom: 10rem;
  position: relative;
  background-repeat: no-repeat !important;
}
.background-compania:after {
  content: "";
  top: 0;
  left: 0;
  background: rgba(101, 62, 137, 0.92);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

/* Consultia */
.background-consultia {
  max-height: 75vh;
  background-size: cover !important;
  background-position: 100%;
  padding-bottom: 10rem;
  position: relative;
  background-repeat: no-repeat !important;
}
.background-consultia:after {
  content: "";
  top: 0;
  left: 0;
  background: rgba(61, 58, 45, 0.92);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}
.consultia-section-1 {
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly !important;
}
.consultia-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.consultia-content {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.consultia-text {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  word-wrap: break-word;
  max-width: 350px;
  flex-basis: 400px;
}
.consultia-text p {
  font-size: 14px;
  line-height: 23.8px;
  vertical-align: baseline;
  letter-spacing: normal;
}
.consultia-text h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 10px;
}
.consultia-images {
  width: 100px;
  height: 100%;
  margin-right: 10px;
}

/* Servicios CSS */

.background-servicios {
  max-height: 85vh;
  background-size: cover !important;
  background-position: 100%;
  padding-bottom: 10rem;
  position: relative;
  background-repeat: no-repeat !important;
}
.background-servicios:after {
  content: "";
  top: 0;
  left: 0;
  background: rgba(14, 79, 136, 0.93);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}
.servicios-main {
  padding: 100px 100px 0px 100px;
}

.servicios-content {
  display: flex;
  justify-content: space-between !important;
  background-color: #f5f8f9 !important;
  margin: 0 auto;
  padding: 100px 100px 0px 100px;
}
.servicios-image {
  width: 450px;
}
.servicios-image-container {
  display: flex;
}
.servicios-text {
  word-break: break-all;
  word-wrap: break-word;
  margin-bottom: 30px;
  margin-right: 20px;
  max-width: 480px;
}
.video-main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 980px) {
  .casos-content-main {
    margin: 5rem 0rem 5rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .casos-content {
    display: flex;
    margin: 0rem 2rem 2rem 2rem;
    flex-basis: 100% !important;
    flex-direction: column;
    width: 92%;
  }

  .casos-image {
    width: 100%;
    margin: 0 auto;
    margin-left: 0px !important;
    margin-right: 0px !important;
    align-self: center;
    justify-self: center;
  }
  .casos-image img {
    width: 100%;
    height: 100%;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 680px) {
  .casos-content {
    display: flex;
    margin: 0rem 2rem 2rem 2rem;
    flex-basis: 100% !important;
    flex-direction: column;
    width: 82%;
  }
}
@media screen and (max-width: 850px) {
  .empleo-content {
    margin: 2rem;
    justify-content: center;
  }
  .empleo-text {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .consultia-content {
    flex-direction: column;
    margin-top: 0px;
  }
  .consultia-section-1 {
    margin-bottom: 40px;
  }
  .consultia-main {
    margin-top: 40px;
  }
  .servicios-content {
    flex-direction: column-reverse;
    padding-left: 100px;
    padding-right: 100px;
  }
  .mobile {
    width: 100% !important;
  }
  .servicios-image {
    width: 300px;
  }
  .servicios-image-container {
    margin-bottom: 40px;
    width: 100% !important;
  }
  .servicios-text {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 1175px) {
  .video-1 iframe,
  .video-2 iframe {
    width: 600px;
  }
  .video-1,
  .video-2 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 735px) {
  .video-1 iframe,
  .video-2 iframe {
    width: 400px;
  }
}
@media screen and (max-width: 420px) {
  .video-main {
    width: 100% !important;
  }
  .video-1 iframe,
  .video-2 iframe {
    width: 330px;
    height: 190px;
    margin-bottom: 10px;
  }
  .servicios-main {
    padding: 10px 15px 0px 5px;
  }
  .servicios-image {
    width: 200px;
  }
  .servicios-content {
    padding: 50px 50px 0px 50px;
  }
}
